.sft-layout-container {
    display: flex;
    padding: 0 3.5625rem;
    .sft-layout-left {
        width: 55.375rem;
    }
    .sft-layout-center {
        box-sizing: border-box;
        flex: 1;
        margin: 0 0.625rem;
    }
    .sft-layout-right {
        width: 55.125rem;
    }
}
