.sft-card-listof-major-hazards {
    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.125rem;
        height: 1.875rem;
        font-size: 1rem;
        color: $white;
        background-image: url('#{$image-url}/pub/trend-action-bg.png');
        background-size: 100% 100%;
    }
    .list-container {
        height: 100%;
        .action-button {
            color: #296efd;
            cursor: pointer;
            &:nth-of-type(1) {
                margin-right: 0.625rem;
            }
        }
    }
}
