html,
body,
#app {
    min-height: 100%;
}
#app {
    background-image: url('#{$image-url}/layout-bg.png');
    background-size: cover;
}

@media screen and (width <= 1920px) {
    html,
    body,
    #app {
        height: 100vh;
    }
}
