.login-container {
    position: relative;
    height: 100%;
    .title,
    .login-form-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .title {
        top: 122px;
        width: 1143px;
        height: 85px;
        background-image: url('#{$image-url}/pub/layout-title__text.png');
        background-size: 100% 100%;
    }
    .login-form-container {
        top: 259px;
        width: 578px;
        height: 411px;
        background-image: url('#{$image-url}/login/login-border.png');
        background-size: 100% 100%;
        &::after,
        &::before {
            position: absolute;
            display: block;
            content: '';
            background-size: 100% 100%;
        }
        &::after {
            top: 50%;
            left: 50%;
            width: 561px;
            height: 391px;
            background-image: url('#{$image-url}/login/login-bg.png');
            transform: translate(-50%, -50%);
        }
        &::before {
            top: -3px;
            left: 129px;
            width: 193px;
            height: 28px;
            background-image: url('#{$image-url}/login/light.png');
        }
    }
}

// @media screen and (width <= 2560px) {
//     .login-container {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         .login-form-container {
//             position: static;
//             transform: scale(2) translateX(-4%);
//         }
//     }
// }
