.layout-container {
    height: inherit;

    // background-image: url('#{$image-url}/layout-bg.png');
    // background-size: cover;
    .main {
        position: relative;
        box-sizing: border-box;
        height: calc(100% - 8.9337rem);
        padding-bottom: 1.25rem;
    }
}
